/*-- in /src/routes/global.css --*/
@import url('../node_modules/simpledotcss/simple.min.css');

@media (prefers-color-scheme: dark) {
  :root {
    --accent: rgb(201, 134, 187);
  }
}
body {
  line-height: 1.7;
  font-size: 1.4rem;
  grid-template-columns: 0fr 4fr 0fr;
}
body > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh
}
h1 {
  color:rgb(201, 134, 187);
}
h2 {
  color: rgb(158, 216, 230);
}
